
body{
    text-align: center;
    background-color: rgb(152, 170, 211);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 20px;
}
article{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align:center;   
}

h5{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 25px;
}

